<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <constant>
    <pegatoron_pn>K0020K09</pegatoron_pn>
    <apn>610-00312</apn>
    <rev>A</rev>
    <config>N/A</config>
    <desc>ASSY,ARC,NIDEC,X1416</desc>
    <stage>JDMP</stage>
    <vendor>NIDEC</vendor>
    <sitecode>9</sitecode>
    <lc>N/A</lc>
    <batch>N/A</batch>
    <vendor_pn>K0020K09</vendor_pn>
  </constant>
  <conversion>
    <pack-tray>13</pack-tray>
    <carton-pack>2</carton-pack>
    <pallet-carton>48</pallet-carton>
  </conversion>
  <checkModuleBin>
    <switch>ON</switch>
    <bin>KP1N</bin>
  </checkModuleBin>
  <newFXZZ>
    <Mfr>K0020K09</Mfr>
    <C>610-00312</C>
  </newFXZZ>
</configuration>